html {
  scroll-behavior: smooth;
}

body {
  max-width: 375px;
  margin: auto;
  background: #d7d2dc;
}

body a {
  text-decoration: none;
  color: black;
}

header {
  background: #eeedef;
  padding-bottom: 10px;
}

header img {
  height: 28px;
  margin: 29px 10px 29px 20px;
}

.picture img {
 height: 281px;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav a {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 16px;
  color: black;
  padding: 8px 4px;
  border: 1px solid black;
  Text-decoration: none;
}

nav a:hover {
  background: #d7d2dc;
}


.description p {
  font-family: 'Ibarra Real Nova', serif;
  margin: 19px 10px 17px 15px;
}

main h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #47321a;
  margin: 65px 113px 30px 120px;
}

main p {
  font-family: 'Ibarra Real Nova', serif;
  margin: 0 0 0 17px;
}

main .mock-ups {
  height: 535px;
}


main .exposition{
  height: 285px;
}

.bean-content p {
  margin: 30px 0 0 17px;
}

.flower-content p {
  margin: 30px 0 0 17px;
}

.flower-content a {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 16px;
  color: black;
  padding: 8px 4px;
  border: 1px solid black;
  Text-decoration: none;
  margin-left: 16px;
}

.flower-content a:hover {
  background: #eeedef;
}

.map-content img {
  margin-top: 79px;
}


.map-content h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #47321a;
  margin-bottom: 3px;
}

.map-content p{
  margin-top: 3px;
}

.location {
  margin-left: 10px;
}

.destination {
  margin-top: 57px;
}

.menu-button {
  margin-top: 50px;
}

.menu-button a {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 16px;
  color: black;
  padding: 8px 4px;
  border: 1px solid black;
  Text-decoration: none;
  margin: 0 0 0 10px;
}

.menu-button a:hover {
  background: #eeedef;
}

footer {
  background: #eeedef;
  margin: 70px 0 0 0;
  padding-bottom: 10px;
}

footer p {
  font-family: 'Ibarra Real Nova', serif;
  padding: 0 0 0 5px;
}

footer h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #47321a;
  margin: 0;
  padding: 5px;
}